.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures

/.idea
/.idea/*

*.iml

!/freshchat_sdk/build
/freshchat_sdk/build/*
!/freshchat_sdk/build/outputs
/freshchat_sdk/build/outputs/*
!/freshchat_sdk/build/outputs/aar
!/freshchat_sdk/build/outputs/aar/freshchat_sdk-debug.aar